@using System.Web.UI.WebControls
@using SkiAssistWebsite.Models
@model SkiAssistWebsite.ViewModels.StudentListViewModel

@{
    ViewBag.Title = "Students";
    Layout = "/views/shared/_NewLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Student List</h4>
                        <p class="category"><!--Subtitle can go here. Not sure what it will be yet.--></p>
                        <div class="header">
                            <h4 class="title">Student Search</h4>
                        </div>
                        <div class="content">
                            @using (Html.BeginForm("StudentSearch", "Student"))
                            {
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="search">
                                            @Html.LabelFor(m => m.SearchString)
                                            @Html.TextBoxFor(m => m.SearchString, new { @class = "form-control"})
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-info btn-fill">Search</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Ticket Number</th>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Students.Count == 0)
                                    {
                                        <h3 class="title">There are no students currently in the system</h3>
                                    }
                                    else
                                    {
                                        foreach (var student in Model.Students)
                                        {
                                            string studentName = student.StudentFirstName + " " + student.StudentLastName;
                                            <tr>
                                                <td>@student.StudentId</td>
                                                <td>@Html.ActionLink(studentName, "StudentProfile", "Profile", new { id = student.StudentId }, null)</td>
                                                <td>@student.StudentAge</td>
                                                <td>@student.TicketNumber</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
